branca==0.8.2
certifi==2026.7.22
charset-normalizer==3.5.1
dotenv==0.9.9
folium==0.20.0
idna==3.19
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.5.2
pillow==12.3.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.2
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.2
PyQt6_sip==13.12.0
python-dotenv==1.2.3
requests==2.34.2
urllib3==2.7.0
xyzservices==2026.3.0
